#ppp
{
    border: 2px solid rgb(248, 5, 175);
    width: 50%;
    margin: 200px;
}

#aaa
{
    width: 100px;
    height: 100px;
    background-color: red;
    display: inline-block;
}

#bbb
{
    width: 100px;
    height: 100px;
    background-color: rgb(16, 248, 8);
    display: inline-block;
    float: right;
}

#ccc
{
    width: 100px;
    height: 100px;
    background-color: rgb(0, 17, 255);
    display: inline-block;
}