#abc
{
    font-size: 26px;
    text-align: justify;
    
    text-shadow: -5px -5px 8px #333333;
    text-indent: 100px;
    line-height: 34px;
    letter-spacing: 5px;
    word-spacing: 10px;
}


/*
    text-align: justify;
    text-align: right;
    text-align: center;
    text-align: left;

    text-decoration: underline;
    text-decoration: overline;
    text-decoration: line-through;
    text-decoration: none;

    text-decoration-color: blue;
    text-decoration-style: dotted;
    text-decoration-style: wavy;

    text-decoration: underline;
    text-decoration-color: blue;
    text-decoration-style: wavy;

    text-shadow: -5px   -5px   8px   #333333;
    text-shadow:  5px    5px   8px   #333333;
                  Hori  Verti  Blur  #color

    text-indent: 100px;

    line-height: 34px;

    letter-spacing: 5px;
    letter-spacing: -5px;
    word-spacing: 10px;
    word-spacing: -10px;

*/