h1{
    color: rgb(9, 90, 16);
    text-align: center;
    font-size: 80px;
}
p{
    color: rgb(180, 30, 130);
    text-align: justify;
    font-size: 30px;
}
#bye
{
    /*color: rgb(156, 207, 160);*/
    text-align: center;
    font-size: 40px; /* Its about font size */
}
body{
    background-color: aquamarine;
}
h2{
    font-size: 100px;
    color: rgb(238, 142, 16);
}